.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box .search-box {
  background: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 800px;
  margin-top: 85px;
  margin-bottom: 30px;
  height: 90px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
}

.Search-select {
  background: white;
  width: 100%;
  padding: 10px 5px 5px;
}
.Search-select .label {
  background: white;
  width: 90%;
  text-align: center;
}
.Search-select .label label {
  color: black;
  font-size: 18px;
}

.Search-select .select {
  background: none;
  width: 100%;
  text-align: left;
  color: black;
  padding-top: 10px;
}

.Search-select .select select {
  width: 90%;
  text-align: center;
  font-size: 16px;
  border: none;
  height: 30px;
  color: gray;
}

.Search-select .sec {
  height: 100%;
  padding: 5px 5px 5px 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
}

.btn {
  margin-left: 0px;
}

.btn button {
  background-color: #1bbdaf;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 100%;
  border-radius: 5px;
}
.btn button:hover {
  background-color: #1db8ab;
}
