.rent {
  padding: 50px 0;
  background-color: #fff !important;
  .container {
    width: 80%;
    margin: auto;
    .top {
      text-align: center;
      span {
        color: #0b8278;
        font-size: 15px;
        font-weight: 500;
      }
      h3 {
        margin: 0 auto 2rem;
        font-size: 2rem;
        margin-top: 2rem;
        margin-bottom: 0;
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        line-height: 1.2;
      }
      p {
        font-size: 15px;
        color: gray;
      }
    }
    .sale-row {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      position: relative;
      .sale-box {
        & > span {
          position: absolute;
          top: -10px;
          left: 0;
          z-index: 1;
          background-color: #ea723d;
          color: #fff;
          padding: 3px 6px;
        }
        // & > span:nth-child(2) {
        //   display: inline-block;
        //   width: 2px;
        //   height: 0;
        //   position: absolute;
        //   left: 75px;
        //   top: -10px;
        //   border: 0 solid rgba(0, 0, 0, 0);
        //   border-bottom-width: 13px;
        //   border-top-width: 13px;
        //   border-left: 9px solid #ea723d;
        // }
        padding-bottom: 10px;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.05);
        .img {
          position: relative;
          cursor: pointer;
          img {
            width: 100%;
          }
          .overlay {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            transition: all 0.4s ease-in-out;
            background: rgba(30, 166, 154, 0.7);
          }
          &:hover .overlay {
            opacity: 1;
          }
          button {
            position: absolute;
            text-align: center;
            padding-left: 1em;
            padding-right: 1em;
            top: 80%;
            left: 50%;
            opacity: 0;
            transform: translate(-50%, -50%);
            display: inline-block;
            color: #fff;
            font-weight: 500;
            font-size: 14px;
            border: 1px solid #fff;
            padding: 15px 20px;
            line-height: 1.5;
            transition: 0.2s all linear;
            width: fit-content;
            background-color: transparent;
            &:hover {
              cursor: pointer;
              background-color: #fff !important;
              color: rgba(30, 166, 154, 0.7) !important;
            }
          }
          &:hover button {
            opacity: 1;
            top: 50%;
          }
        }
        .title {
          padding: 0 10px;
          h2 {
            margin: 1rem auto;
            line-height: 1.5;
            font-size: 1.4rem;
            color: #1a1a1a;
          }
          p {
            margin-bottom: 20px;
            font-size: 15px;
            font-weight: 400;
            line-height: 1.5;
            color: gray;
          }
          ul {
            display: flex;
            gap: 1rem;
            li {
              flex: 1;
              display: flex;
              flex-direction: column;
            }
          }
          .price {
            display: flex;
            flex-direction: column;
            span {
              display: block;
              margin-top: 10px;
              font-size: 22px;
              font-weight: 600;
              line-height: 26px;
              color: #0b8278;
            }
          }
        }
      }
    }
    .btns {
      text-align: center;
      padding: 30px 0;
      button {
        display: inline-block;
        min-width: 40px;
        min-height: 40px;
        margin: 10px;
        padding: 13px 15px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        text-align: center;
        transition: 0.2s all linear;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.05);
        background: #fff;
        color: gray;
        cursor: pointer;
        border: none;
      }
    }
  }
}

@media(max-width:1100px){
  .rent{
    .sale-row{
      grid-template-columns: repeat(2,1fr) !important;
    }
  }
}

@media(max-width:776px){
  .rent{
    .sale-row{
      grid-template-columns: repeat(1,1fr) !important;
    }
  }
}